body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #333;
}

#app {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.block {
    display: flex;
    width: 20rem;
    height: 20rem;
    position: relative;
    border: solid 2px white;
    margin: 2rem;
    padding: 2rem;
}

.start {
    border-top-left-radius: 1rem;
}

.end {
    border-top-left-radius: 1rem;
}

.case-1 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        top: 4rem;
        left: 2rem;
    }

    .end {
        top: 16rem;
        left: 10rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-2 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        top: 2rem;
        left: 18rem;
    }

    .end {
        top: 16rem;
        left: 4rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-3 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        top: 16rem;
        left: 3rem;
    }

    .end {
        top: 2rem;
        left: 15rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-4 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        top: 14rem;
        left: 18rem;
    }

    .end {
        top: 2rem;
        left: 2rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-5 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        width: 8rem;
        height: 4rem;

        top: 4rem;
        left: 2rem;
    }

    .end {
        top: 16rem;
        left: 16rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-6 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        top: 4rem;
        left: 2rem;
    }

    .end {
        width: 8rem;
        height: 4rem;

        top: 16rem;
        left: 14rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-7 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        top: 14rem;
        left: 16rem;
    }

    .end {
        width: 8rem;
        height: 4rem;

        top: 4rem;
        left: 4rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-8 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        width: 8rem;
        height: 4rem;

        top: 14rem;
        left: 12rem;
    }

    .end {
        top: 4rem;
        left: 2rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-9 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        width: 4rem;
        height: 8rem;

        top: 4rem;
        left: 2rem;
    }

    .end {
        top: 16rem;
        left: 14rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}
.case-10 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .start {
        top: 4rem;
        left: 2rem;
    }

    .end {
        width: 4rem;
        height: 8rem;

        top: 14rem;
        left: 14rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}

.case-11 {
    .box {
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        opacity: .5;
    }

    .end {
        top: 8rem;
        left: 14rem;
    }
    .start {
        top: 8rem;
        left: 4rem;
    }

    .green {
        background-color: #BADA55;
    }

    .gray {
        background-color: #888;
    }
}

.debug {
    border: solid 1px red;
}